<% provide(:title, "Contact") %>
<div class='container text-center jumbotron'>
   <h1>Contact</h1>
   <h2>
      Contact the MiGA developers at
      <a href="http://enve-omics.ce.gatech.edu/miga#contact">contact page</a>.
   </h2>
</div>
