<% provide(:title, "Contact") %>
<div class='container text-center jumbotron'>
   <h1>Contact</h1>
   <h4>
     Contact the MiGA developers and community at the
     <a href="https://support.microbial-genomes.org/">Support Page</a>
     <a href="https://groups.google.com/forum/#!forum/miga-users">MiGA Users
   </h4>
</div>
