<% provide(:title, "Contact") %>
<div class='container text-center jumbotron'>
   <h1>Contact</h1>
   <h2>
     Contact the MiGA developers and community at
     <a href="https://groups.google.com/forum/#!forum/miga-users">MiGA Users
       list</a>.
   </h2>
</div>
