<% if @project.nil? %>
  <% provide(:title, 'Query datasets') %>
<% else %>
  <% provide(:title, @project.path_name) %>
<% end %>
<div class="row">
  <aside class="col-md-4">
    <% ds_counts = { qry: @all_qd, qry_yes: @ready_qd, qry_no: @running_qd } %>
    <% ds_counts[:ref] = @project.ref_datasets.count unless @project.nil? %>
    <%=
      render(
        partial: 'shared/menu_datasets',
        locals: {
          project: @project, ds_counts: ds_counts,
          ref_datasets: false, qry_datasets: true
        }
      )
    %>
  </aside>
  <div class="col-md-8">
    <% if @query_datasets.any? %>
      <%= will_paginate @query_datasets, class: "center-block center" %>
      <div class="dataset-list">
        <% @query_datasets.each do |query_dataset| %>
          <%= render query_dataset %>
        <% end %>
      </div>
      <%= will_paginate @query_datasets, class: "center-block center" %>
    <% end %>
  </div>
</div>
