<% if @project.nil? %>
   <% provide(:title, "Query datasets") %>
<% else %>
   <% provide(:title, @project.path_name) %>
   <% provide(:breadcrumb_1, link_to("Projects", projects_path)) %>
<% end %>
<div class="row projects">
   <aside class="col-md-4">
      <% ds_counts = {qry: @all_qd, qry_yes: @ready_qd, qry_no: @running_qd} %>
      <% ds_counts[:ref] = @project.ref_datasets.count unless @project.nil? %>
      <%= render partial: "shared/menu_datasets",
	 locals: { project: @project, ds_counts: ds_counts,
	 ref_datasets: false, qry_datasets: true } %>
   </aside>
   <div class="col-md-8">
      <% if @query_datasets.any? %>
	 <%= will_paginate @query_datasets %>
	 <ol class="query_datasets">
	    <%= render @query_datasets %>
	 </ol>
	 <%= will_paginate @query_datasets %>
      <% end %>
   </div>
</div>
