<% provide(:breadcrumb_1, link_to(@project.path, @project)) %>
<% provide(:title, 'New query datasets') %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>New query datasets</h1>
    <hr/>
    <div class="projects"><%= render @project %></div>
    <hr/>
    <%= render partial: 'shared/dataset_form' %>
  </div>
</div>

