<% provide(:title, @query_dataset.name.unmiga_name) %>
<% provide(:breadcrumb_1, link_to("Projects", projects_path)) %>
<% provide(:breadcrumb_2, link_to(
  truncate(@query_dataset.project.path_name, length:15),
  @query_dataset.project)) %>
<div class="row query_dataset">
  <aside class="col-md-4">
    <section class="query_dataset_info">
      <ul class="query_datasets">
        <%= render @query_dataset %>
      </ul>
    </section>
    <section class="query_dataset_settings">
      <%= link_to "Remove dataset", @query_dataset,
        method: :delete, class: "btn btn-block btn-warning",
        data: { confirm: "Are you sure? This action cannot be undone." } %>
    </section>
  </aside>
  <div class="col-md-8">
    <% MiGA::Dataset.RESULT_DIRS.keys.each do |k| %>
      <% if res = @query_dataset.miga.result(k) %>
        <%= render partial: "shared/result",
          locals: { res:res, obj:@query_dataset, key:k } %>
      <% end %>
    <% end %>

    <% unless @query_dataset.ready? %>
      <%= render partial: "shared/partial_result",
        locals: { obj:@query_dataset,
        key:@query_dataset.miga.next_preprocessing } %>
    <% end %>
  </div>
</div>
