<li class=user-box>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? %>
    <% if !current_user?(user) %>
      | <%= link_to "delete", user, method: :delete,
            data: { confirm: "You sure?" } %>
    <% end %>
    <br/>
    <span class=text-muted><%= user.email %>
  <% end %>
</li>
