<% provide(:title, 'All users') %>

<h1 class="mt-5">All users</h1>
<hr/>
<%= will_paginate(class: 'center-block center') %>

<div class="container user-list">
  <div class="row">
    <%= render(@users) %>
  </div>
</div>

<%= will_paginate(class: 'center-block center') %>
<br/><br/><br/>
