<% provide(:title, 'All users') %>

<h1 class="mt-5">All users</h1>
<hr/>
<%= will_paginate(class: 'center-block center') %>

<ul class="users">
  <%= render(@users) %>
</ul>

<%= will_paginate(class: 'center-block center') %>
<br/><br/><br/>
