<% provide(:title, @user.name) %>
<% provide(:breadcrumb_1, link_to('Users', users_path)) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user-info row">
      <%= gravatar_for @user %>
      <div class="user-name col-sm-6">
        <h1><%= @user.name %></h1>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <%
      {
        'Name' => @user.name,
        'E-mail' => @user.email,
        'Query datasets' => @user.query_datasets.size,
        'Private projects' => @user.projects.where(private: true).size
      }.each do |k, v|
    %>
      <div class="card">
        <div class="card-header"><%= k %></div>
        <div class="card-body"><%= v %></div>
      </div>
      <br/>
    <% end %>
  </div>
</div>
