<% provide(:title, 'Unactivated users') %>
<h1 class="mt-5">Unactivated users</h1>
<hr/>

<%= will_paginate(class: 'center-block center') %>

<div class="container user-list">
  <div class="row">
    <% @users.each do |user| %>
      <%= render(user) %>
    <% end %>
  </div>
</div>

<%= will_paginate(class: 'center-block center') %>
<br/><br/><br/>
