<% provide(:title, 'Users not yet activated') %>
<h1 class="mt-5">Users not yet activated</h1>
<hr/>

<%= will_paginate(class: 'center-block center') %>

<div class="container user-list">
  <div class="row">
    <% @users.each do |user| %>
      <%= render(user) %>
    <% end %>
  </div>
</div>

<%= will_paginate(class: 'center-block center') %>
<br/><br/><br/>
