<% provide(:title, "All projects") %>
<h1>Projects</h1>

<%= will_paginate class: "center-block center" %>

<div class="project-list">
   <%= render @projects %>
</div>

<%= will_paginate class: "center-block center" %>
