<% provide(:title, 'RDP Classify') %>

<div class="row projects">
  <aside class="col-md-4">
    <%=
      render(
        partial: 'shared/menu_datasets',
        locals: {
          project: @project,
          ds_counts: @project.dataset_counts(current_user),
          ref_datasets: true, qry_datasets: false
        }
      )
    %>
  </aside>
  <div class="col-md-8">
    <h2>RDP Classification</h2>
    <%=
      render(
        partial: 'rdp_classify',
        locals: { project: @project, result: @result, ds_name: @ds_name }
      )
    %>
  </div>
</div>
