<% provide(:title, @project.path_name) %>
<div class="row projects">
   <aside class="col-md-4">
      <section class="project_header">
	 <ol class="projects">
	    <%= render @project %>
	 </ol>
      </section>
   </aside>
</div>
