<% provide(:title, @project.path_name) %>

<div class="row">
  <aside class="col-md-4 project-aside">
    <%=
      render(
        partial: 'shared/menu_datasets',
        locals: {
          project: @project,
          ds_counts: @project.dataset_counts(current_user),
          ref_datasets: false, qry_datasets: false
        }
      )
    %>
  </aside>

  <div class="col-md-8">
    <% if @project.private? %>
      <div class="alert alert-info" style="margin: 1.3em 0;">
        This is a <b>private project</b>:
        only you have access.
      </div>
    <% elsif !@project.official? %>
      <div class='alert alert-info' style='margin:1.3em 0;'>
        This is a <b>user-contributed project</b>:
        it is not officially supported.
      </div>
    <% end %>

    <%= render(partial: 'progress') %>
    <%= render(partial: 'arcgis') %>
    <%= render(partial: 'results') %>
  </div>
</div>
