
$blue-miga: #0077a0;
$theme-colors: (
  "primary": $blue-miga,
  "secondary": #d9d9d9,
  "success": #69b342,
  "danger":  #741545,
  "warning": #db821f
);

@import "bootstrap";
@import "font_awesome5_webfont";
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=Wire+One);

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

* {
  margin: 0;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  height: 100%;
}

.skip-nav-link {
  position: absolute;
  transform: translateY(-150%);
  background: white;
  padding: 0.3em 0.5em;
  margin: 0.5em;
  &:focus {
    transform: translateY(0);
    z-index: 1045;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6,
      .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "PT Sans Caption", sans-serif;
  line-height: 1;
  font-weight: 700;
}

nav {
  font-family: "PT Sans Caption", sans-serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.timestamp {
  color: $gray-500;
  .fa, .fas, .far {
    font-size: 90%;
    margin-right: 0.3em;
  }
}

/* header navbar */

[role="main"] {
  padding-top: 54px; /* Space for fixed navbar */
}

#logo {
  font-size: 150%;
  padding: 0 2em;
}

.navbar-dark {
  .nav-link {
    color: $gray-500;
    &:hover {
      color: $gray-200;
    }
  }
  .dropdown-item {
    .fa, .far, .fas {
      margin-right: 0.5em;
      color: $gray-700;
    }
    &:hover {
      .fa, .far, .fas {
        color: $black;
      }
    }
  }
}

/* footer */

[role="main"] {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -6em;
  .push { height: 7em; }
}

.footer {
  padding: 1em 3em;
  background: #361224;
  color: $gray-400;
  a {
    color: $blue-miga;
    &:hover {
      color: #78B142;
    }
  }
  #footer-collab {
    background: white;
    color: $gray-900;
    margin: 1em 0;
    padding: 2em 1em;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.blockquote {
  border-left: 0.4em solid $gray-400;
  margin: 1em;
  padding: 1em;
  background: $gray-200;
}

.card-admin-zone {
  padding: 1em;
  margin: 2em 0;
  background: $gray-100;
  h1, h2 {
    text-align: center;
    margin-bottom: 0.3em;
    padding-bottom: 0.2em;
    border-bottom: 1px solid $gray-300;
  }
}

aside {
  margin-top: 1em;
}

.dashboard {
  .fa, .fas, .far {
    margin-right: 0.5em;
    font-size: 80%;
  }
  .list-group-item {
    p {
      margin-left: 2em;
    }
  }
}

/* Taxonomy tree */

.taxonomy-tree {
  padding-left: 1em;
  border-left: 1px solid $gray-400;
  background: $gray-100;
  .datasets {
    background: $gray-100;
    margin: 1em 1em -1em 0; // 0 1em 0 0;
    padding: 0.5em 1em;
  }
  .taxonomy-tree-element {
    padding-top: 0.1em;
  }
  .taxonomy-tree-search {
    font-size: 75%;
    margin: 0 0.5em;
    visibility: hidden;
  }
  .tree-rank-name {
    &:hover * {
      visibility: visible;
    }
    .tree-rank-link {
      .badge {
        font-size: 70%;
        margin-bottom: 0.1em;
        background: $gray-200;
      }
      &:hover {
        text-decoration: none;
        .badge {
          background: $gray-400;
        }
        & + .taxonomy-tree-search {
          visibility: visible;
        }
      }
    }
  }
  .non-significant {
    color: $gray-500;
    a, .badge { color: $gray-500; }
    &:hover {
      color: $gray-700;
      a, .badge { color: $gray-700; }
    }
  }
}


